{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Modification : {{ annonce.titre }}{% endblock %}

{% block h1 %}Modification : {{ annonce.titre }}{% endblock %}

{% block body %}

    <a class="btn btn-info" href="{{ path("gestion_annonce_afficher") }}">Retour à la gestion des annonces</a>


    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
    {% endfor %}
    
<div class="col-md-6 mx-auto">
        {{ form_start(formAnnonce_modif) }}
        {{ form_row(formAnnonce_modif.titre) }}
        {{ form_row(formAnnonce_modif.descriptioncourte) }}
        {{ form_row(formAnnonce_modif.descriptionlongue) }}
        {{ form_row(formAnnonce_modif.prix) }}
        {{ form_row(formAnnonce_modif.surface) }}
        {{ form_row(formAnnonce_modif.cp) }}
        {{ form_row(formAnnonce_modif.ville) }}
        {{ form_row(formAnnonce_modif.categorie) }}


        
        {{ form_row(formAnnonce_modif.photoFile, {'attr' : {"onChange" : "loadFile(event)"}} ) }}

                <div class="row justify-content-center ">
                    <div class="col-md-6">
                        <img id="image" 
                        {% for item in annonce.photos %}
                                
                            
                        
                            
                            
                                src="{{ asset("images/imagesUpload/" ~ item.nom) }}"

                            {% else %}

                                src="{{ asset("images/imageDefault.jpg") }}"

                        
                        {% endfor %}
                        style="width:300px">
                    </div>
                        {% for item in annonce.photos %}
                            {% if item.nom %}
                                <div class="col-md-6">
                                <a href="{{ path('image_annonce_supprimer' , {'id' : annonce.id } ) }}">
                                    <img src="{{ asset("images/delete.png")}}" alt="">
                                </a>
                                </div>
                            
                            {% endif %}
                            
                        {% endfor %}
                    
                    
                </div>
        <input type="submit" value="Modifier" class="col-md-12 btn btn-dark mt-3">
        {{ form_end(formAnnonce_modif) }}
    </div>



{% endblock %}

{% block javascripts %}

<script>

    let loadFile = function(event){
        let image = document.getElementById('image');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

{% endblock %}


