
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/admin/accueil_style.css") }}">
{% endblock %}
{% block body %}

    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
    {% endfor %}

<div style="display:flex; flex-direction:column">
    <div class="main row" >
        <div class="left col-2" >
            <div class="annonce" id="annonce-1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta explicabo veritatis debitis nihil at esse maiores illum blanditiis aperiam. Exercitationem culpa aliquid natus voluptatum dolorem porro cupiditate quod, eos optio, sint suscipit. Nobis enim incidunt perspiciatis impedit sunt facere nulla esse dolorem .</p>
            </div>

            <div class="annonce" id="annonce-2">
                <a class="btn btn-primary" href="{{ path('catalogue' ) }}">Voir les annonces</a>
            </div>

            <div class="annonce" id="annonce-3">
                <button type="button" class="btn btn-primary">Vous êtes promoteur?</button>
            </div>
        
        </div>
        <div class="right col-lg-9 col-sm-12" >
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0"    >
                </iframe>
            </div>
        
        </div>
    </div>

    
    <div class="main row" >
        <div class="left col-2" >
            <div class="annonce" id="annonce-1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta explicabo veritatis debitis nihil at esse maiores illum blanditiis aperiam. Exercitationem culpa aliquid natus voluptatum dolorem porro cupiditate quod, eos optio, sint suscipit. Nobis enim incidunt perspiciatis impedit sunt facere nulla esse dolorem .</p>
            </div>

            <div class="annonce" id="annonce-2">
                <a class="btn btn-primary" href="{{ path('catalogue' ) }}">Consulter mes annonces</a>
            </div>

            <div class="annonce" id="annonce-3">
                <button type="button" class="btn btn-primary">Vous êtes promoteur?</button>
            </div>
        
        </div>
        <div class="right col-lg-9 col-sm-12" >
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0"    >
                </iframe>
            </div>
        </div>
        
    </div>
    <div class="main row" >
        <div class="left col-2" >
            <div class="annonce" id="annonce-1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta explicabo veritatis debitis nihil at esse maiores illum blanditiis aperiam. Exercitationem culpa aliquid natus voluptatum dolorem porro cupiditate quod, eos optio, sint suscipit. Nobis enim incidunt perspiciatis impedit sunt facere nulla esse dolorem .</p>
            </div>

            <div class="annonce" id="annonce-2">
                <button type="button" class="btn btn-primary">Voir les annonces</button>
            </div>

            <div class="annonce" id="annonce-3">
                <button type="button" class="btn btn-primary">Vous êtes promoteur?</button>
            </div>
        
        </div>
        <div class="right col-lg-9 col-sm-12" >
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 100%">
                <iframe src="https://maps.google.com/maps" frameborder="0"
                    style="border:0"    >
                </iframe>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}{% endblock %}