{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Catalogue
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
	
{% endblock %}

{% block h1  %}Catalogue
{% endblock %}


{% block body %}

	{% if annonces %}{# {% if annonces is not empty %} #}<div class="row justify-content-around ">
			{% for annonce in annonces %}
				<div class="col-md-5 cardCatalogue p-3 m-2 ">
					<div class="row" style="justify-content: space-around;border:1px black solid;border-radius:6px;background-color:#F8F8F8">
						<div class="col-md-5" >
							{% if annonce.photos is not empty %}
								<img src="{{ asset("images/imagesUpload/" ~ annonce.photos[0].nom ) }}" alt="" style="width:100%"> 
							{% else %}
								<img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:198px">
							{% endif %}
						</div>
						<div class="col-md-5" style="padding-left: 24px;text-align: center ">
							<h5>{{ annonce.titre|capitalize }}</h5>
							<h5>{{ annonce.prix }}€</h5>
							<p class="text text-muted">{{ annonce.descriptionlongue }}€</p>
							<a class="btn btn-danger" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" class="mt-2">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}{# si le tableau annonces est vide #}<h4 class="text-center text-danger mt-3 fst-italic">Il n'y a aucun annonce pour le moment</h4>
	{% endif %}
    <a class="btn btn-success" href="{{ path('accueil') }}">Retour à l'accueil</a>
{% endblock %}
