{% extends "base.html.twig" %}


{% block title %} {{ annonce.titre }} {% endblock %}


{% block h1 %}{{ annonce.titre }}  {% endblock %}

{% block body %}
    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center mt-2 alert alert-success">{{ notification }}</div>
    {% endfor %}
<div style="text-align:center">
    <div  style="min-width: 300px;">

    {% if annonce.photos is not empty %}

        <img src="{{ annonce.photos[0].nom }}" alt="" style="width:290px"> 

    {% else %}
        <img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:290px">

    {% endif %}

    </div>

    <h5 class="text-center text-danger"> {{ annonce.prix}} €</h5>

    <a class="btn btn-success" style="text-align:left" href="{{ path('ajout_commentaire',{'id':annonce.id}) }}">Laisser un commentaire</a>
    <a class="btn btn-success" style="text-align:left" href="{{ path('catalogue') }}">Retour au produit</a>
</div>
{% if annonce.commentaires is not empty %}
{% for commentaire in commentaires %}
    <div class="row-comment" >
        <div class="userInfos col-2">
            <div class="avatar-oc">
                <div class="author">
                    <a href="" rel="nofollow" title="Profil de Hiruka">{{ commentaire.user.email }}</a>
                </div>
                <a href="" rel="nofollow" title="Profil de Hiruka">
                    <img src="https://openclassrooms.com/bundles/common/images/avatar_defaut.png" alt="" width="80px">
                </a>
            </div>
        </div>
        <div class="comment col-8" id="message-92335495">
            
            <div class="content" style="display:flex;flex-direction:column">
                <i class="fas fa-camera" style="text-align:left;font-size: 0.7em;" >{{ commentaire.dateenregistrement|format_datetime(locale='fr') }}</i>
                
                <div class="message markdown-body" role="article" style="text-align:left; max-width:1400px">
                    <p class="long_text">{{ commentaire.commentaire }}</p>
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
{% else %}
Aucun commentaire pour le moment
    

{% endif %}

 
{% endblock %}




