{% extends "base.html.twig" %}


{% block title %} {{ annonce.titre }} {% endblock %}


{% block h1 %}{{ annonce.titre }}  {% endblock %}

{% block body %}
    {% for notification in app.flashes('success') %}
        <div class="col-md-6 mx-auto text-center mt-2 alert alert-success">{{ notification }}</div>
    {% endfor %}
<div style="text-align:center" class="zoom-photo">
        
    {% include "annonce/slider.html.twig" %}


    <script>
    {% if annonce.photos is not empty %}
    console.log("dedans");
                let sujetArray = [];

                {% for sujet in annonce.photos %}
                sujetArray.push("{{asset("images/imagesUpload/"~sujet.nom)}}");{% endfor %}
                
                console.log(sujetArray);
                
                Make_Img_Slider(sujetArray)

        
    {% else %}
        {{ asset('images/imageDefault.jpg') }}
    {% endif %}

                
    </script>



        

        <h5 class="text-center text-danger"> {{ annonce.prix}} €</h5>

        <a class="btn btn-success" style="text-align:left" href="{{ path('ajout_commentaire',{'id':annonce.id}) }}">Laisser un commentaire</a>
        <a class="btn btn-success" action="action" onclick="window.history.go(-1); return false;"type="submit" value="cancel">Retour aux résultats</a>
</div>
{% if annonce.commentaires is not empty %} 
{% for commentaire in commentaires %}
    <div class="row-comment" style="display:flex">
        <div class="userInfos col-2">
            <div class="avatar-oc">
                <div class="author">
                    <a href="" rel="nofollow" title="Profil de Hiruka">{{ commentaire.user.email }}</a>
                </div>
                <a href="" rel="nofollow" title="Profil de Hiruka">
                    <img class="photo-profil" src="https://openclassrooms.com/bundles/common/images/avatar_defaut.png" alt="" width="80px">
                </a>
            </div>
        </div>
        <div class="comment col-8" id="message-92335495">
            
            <i class="fas fa-camera" style="text-align:left;font-size: 0.7em;" >{{ commentaire.dateenregistrement|format_datetime(locale='fr') }}</i>
            <div class="content" style="display:flex;flex-direction:column">
                
                <div class="message markdown-body" role="article" style="text-align:left; max-width:1400px">
                    <p class="long_text">{{ commentaire.commentaire }}</p>
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
{% else %}
Aucun commentaire pour le moment
    

{% endif %}

 
{% endblock %}


