{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-3 mt-5 p-4" style="display:flex;flex-direction:column">
                <div style="position: sticky;top: 60px;">
                    {# le formulaire #}
                    <div>    
                        {{ form_start(form) }}
                        {{ form_row(form.q) }}

                        <h4>Catégories</h4>
                        {{ form_row(form.categorie) }}

                        <h4>Prix</h4>
                        <div class="row">
                            <div class="col-md-6">
                            {{ form_row(form.min) }}
                            </div>
                            <div class="col-md-6">
                            {{ form_row(form.max) }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" class="annonce2_3">Filtrer</button>

                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-12 mt-4 p-2"  style="width:380px;height:290px;border:1px solid black;">
                    {% include "carto.html.twig" %}
                    </div>    
                </div>
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2">
                    {{ knp_pagination_sortable(annonces, 'Prix', 'p.prix') }}
                    
                </div>
                <div class="grid">
                    {% for annonce in annonces %}
                        <div class="card">
                        {% if annonce.photos is not empty %}
                        <img src="{{ annonce.photos[0].nom }}" alt="" style="width:100%">
                         {% else %}
                        <img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:100%">
                        {% endif %}
                            <div class="card-body" style="flex: 1 1 auto;padding: 1rem 1rem;display: flex;flex-direction: column;justify-content: space-between;">
                                <h5 class="card-title">{{ annonce.titre }}</h5>
                                <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">
                                {{ annonce.prix | number_format(0, ',', ' ') }} €
                                


                                </div>
                                <a class="text text-muted" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}">{{ annonce.descriptionlongue }}</a>
                                <a  class="btn btn-danger" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" class="mt-2">Voir la fiche</a>
                                <a href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" name="classified-link" z="1"  target="_blank" class="CoveringLink-a3s3kt-0 dXJclF"></a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {{ knp_pagination_render(annonces) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

