{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}
{% block stylesheets %}


    
    </style>
{% endblock %}
{% block body %}
<style>
      .mapboxgl-ctrl-geocoder{
      min-width: 10%;
      visibility:hidden;

  
  }
</style>
    <div class="container-fluid">
        <div class="row" >
            {# left #}
            <div class="col-md-3 mt-5 p-4" style="display:flex;flex-direction:column">
                <div style="position: sticky;top: 60px;">
                    {# le formulaire #}
                    <div>    
                        {{ form_start(form_user) }}
                        {{ form_row(form_user.q) }}

                        <h4>Catégories</h4>
                        {{ form_row(form_user.categorie) }}

                        <h4>Prix</h4>
                        <div class="row">
                            <div class="col-md-6">
                            {{ form_row(form_user.min) }}
                            </div>
                            <div class="col-md-6">
                            {{ form_row(form_user.max) }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" class="annonce2_3">Filtrer</button>

                        {{ form_end(form_user) }}
                    </div>
                    {# la carto #}
                    <div class="col-md-12 col-sm-10 mt-4 p-2"  style="width:380px;height:290px;border:1px solid black;max-width:100%">
                    {% include "carto_select.html.twig" %}
                    </div>    
                </div>
            </div>
            {# right #}
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2">
                    {{ knp_pagination_sortable(annonces_user, 'Prix', 'p.prix') }}
                </div>
                <div class="grid">
                    {% if annonces_user %}
                        {% for annonce in annonces_user %}
                        
                            <div class="card" data-value={{ annonce.coords[0].long}},{{ annonce.coords[0].lat}} data-index="{{ annonce.id }}" >
                                {% if annonce.photos is not empty %}
                                <img src="{{ annonce.photos[0].nom }}" alt="" style="width:100%">
                                {% else %}
                                <img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:100%">
                                {% endif %}
                                
                                    <div class="card-body"  style="flex: 1 1 auto;padding: 1rem 1rem;display: flex;flex-direction: column;justify-content: space-between;">
                                        <h5 class="card-title" onmouseover="this.style.textDecoration = 'underline'">{{ annonce.titre }}</h5>
                                        <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">{{ annonce.prix | number_format(0, ',', ' ') }} €</div>
                                        <a class="text text-muted" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}">{{ annonce.descriptionlongue }}</a>
                                        <a  class="btn btn-danger" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" class="mt-2">Voir la fiche</a>
                                    </div>
                                    <div class="form-check form-switch ">
                                        <input class="form-check-input m-0" type="checkbox" value="{{annonce.id}}"
                                        
                                        >
                                    </div>
                                    <button value={{ annonce.id }} class="test" onclick="totalbandwidth()">SUCCESS</button>
                            </div>
                    {% else %}
                        <h4 class="text-center text-danger mt-3 fst-italic">Il n'y a pas d'annonce avec vos critères pour le moment.</h4>
                    {% endfor %}
                {% endif %}
                        
                <div class="mt-4">
                    {{ knp_pagination_render(annonces_user) }}
                </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>

    
        let elements = document.getElementsByClassName("card");
            console.log(elements);
        for (let i = 0; i < elements.length; i++) {
            let long= document.getElementsByClassName("card")[i].dataset.value;
            
            const usingSplit = Array.from(long.split(','));

            console.log(usingSplit[0]);
            console.log(usingSplit[1]);
                elements[i].addEventListener("mouseenter",function(){
                    console.log('hey');
                    let markerHover = new mapboxgl.Marker({
                        color:"rgba(34,66,76,1)"
                    })
                    .setLngLat([usingSplit[0],usingSplit[1]])
                    .addTo(map)
                    elements[i].addEventListener("mouseleave",function(){
                        markerHover.remove()
                    })
                });
        }

            
                        var positions =[]; 
        // pour toutes les classes updated
        $('.test').onclick=(function (){
            positions.push([$(this).attr('value')]);
            console.log("positions");
            console.log(positions);
           
        });
            

            
            function totalbandwidth(){ 



                    let el= $(".test");
                    let url = "{{ path('ajout_favoris') }}";

                    let data = {
                    'id': 32,
                    };
                    console.log(data);

                    $.ajax({ 
                        method: 'post',
                        dataType: 'json',
                        url: url,
                        data: data,

                        success: function (response) {

                            let $dpt = response;
                            console.log($dpt);
                        },
                        error: function () {
                            alert("erreur");
                        }
                    });


             }
            

        
    </script>

{% endblock %}