{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mt-5 p-4" >
                {% include 'annonce/_filter.html.twig' with {form: form, min: min, max: max} only %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2">
                    {{ knp_pagination_sortable(annonces, 'Prix', 'p.prix') }}
                    
                </div>
                <div class="grid">
                    {% for annonce in annonces %}
                        <div class="card">
                        {% if annonce.photos is not empty %}
                        <img src="{{ annonce.photos[0].nom }}" alt="" style="width:100%">
                         {% else %}
                        <img src="{{ asset('images/imageDefault.jpg') }}" alt="" style="width:100%">
                        {% endif %}
                            <div class="card-body" style="flex: 1 1 auto;padding: 1rem 1rem;display: flex;flex-direction: column;justify-content: space-between;">
                                <h5 class="card-title">{{ annonce.titre }}</h5>
                                <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">
                                {{ annonce.prix | number_format(0, ',', ' ') }} €
                                


                                </div>
                                <a class="text text-muted" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}">{{ annonce.descriptionlongue }}</a>
                                <a  class="btn btn-danger" href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" class="mt-2">Voir la fiche</a>
                                <a href="{{ path('fiche_annonce', {'id' : annonce.id}) }}" name="classified-link" z="1"  target="_blank" class="CoveringLink-a3s3kt-0 dXJclF"></a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {{ knp_pagination_render(annonces) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

