{% extends 'base.html.twig' %}

{% block title %}Tous nos produits
{% endblock %}
{% block stylesheets %}


</style>{% endblock %}{% block body %}
<style>
	.mapboxgl-ctrl-geocoder {
		min-width: 10%;
		visibility: hidden
	}

	.filtre_navbar2 {


		display: flex;
		margin: 0;

	}
	#filters p {

		margin: 1em
	}
	.min_max {


		width: 100px;
		margin: 0.8em 0.9em
	}
</style>

    {# barre de recherche #}
    <div class="container-fluid navbartwo" style="position: fixed;background-color: beige;z-index: 10;height: 60px">
        <div class="span6 offset3 navbar" style="padding-top:0">
            <div class="navbar-inner" style="margin:0 auto">

                <form id="filters" class="filtre_navbar2">
                    {% for categorie in categories %}
                        {# On vérifie si la catégorie est dans les paramètres #}

                        <p>
                            <input type="checkbox" name="categorie[]" id="cat{{categorie.id}}" value="{{categorie.id}}" {# requetes.categorie renvoie 22 #} {% if requetes.categorie is defined %} {% if categorie.id in requetes.categorie %} checked {% endif %} {% endif %}>


                            <label for="cat{{categorie.id}}">{{categorie.type}}</label>

                        </p>
                    {% endfor %}

                    <input type="text" class="min_max" name="min" id="min" placeholder="min" value={{ requetes.min }}>

                    <input type="text" class="min_max" name="max" id="max" placeholder="max" value={{ requetes.max }}>


                    <input type="hidden" name="page" value="{{page}}">
                </form>

            </div>
        </div>
    </div>

    {# la carto #}
    
    
    

    {# left #}
    
    
<div class="col-md-5 mx-2 " style="margin-top:75px!important">

	<div id="content">
		{% include "annonce/_content.html.twig" %}
	</div>
</div>

    {# <div class="mt-4">{{ knp_pagination_render(annonces) }}</div> #}


    <div class="modal"><!-- Place at bottom of page --></div>

{% endblock %}


{% block javascripts %}

<script>
console.log('retour');
function url() {
    location = "{{ path('index_user') }}";
}

window.onload = () => 
$body = $("body");
    {
        const FiltersForm = document.querySelector("#filters");
        console.log(FiltersForm);

        // On boucle sur les input
        document.querySelectorAll("#filters").forEach(input => 
        {
            input.addEventListener("change", () => {
                $body.addClass("loading");
                console.log("début");
                // Ici on intercepte les clics
                // On récupère les données du formulaire
                const Form = new FormData(FiltersForm);
                console.log(Form);
                // On fabrique la "queryString"
                const Params = new URLSearchParams();

                Form.forEach((value, key) => {
                    Params.append(key, value);

                });

                // On récupère l'url active
                const Url = new URL(window.location.href);

                console.log("1");
                // On lance la requête ajax
                fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                    headers: {"X-Requested-With": "XMLHttpRequest"}
                })
                .then(response => response.json()).then(data => {
                    console.log("2")
                    console.log(data)
                    // On va chercher la zone de contenu
                    const content = document.querySelector("#content");

                    

                    // ca repart sur content.html mais en version html uniquement
                    console.log('2.2');
                    console.log(content);
                    // renvoie les div selectionnees avec leur data value.
                    // On remplace le contenu
                    content.innerHTML = data.content;
                    console.log("2.5");
                    // On met à jour l'url
                    history.pushState({}, null, Url.pathname + "?" + Params.toString());
                    console.log("3")
                    $body.removeClass("loading");
                    var arr = mydiv.getElementsByTagName('script')
                    for (var n = 0; n < arr.length; n++)
                    eval(arr[n].innerHTML)//run script inside div
                        
                }).catch(e => console.log(e));

            });
        });
        
    
    }
{# window.onload = () => 
$body = $("body");
    {
        const new_carto = document.querySelector("#content");
        console.log("new_carto");
        console.log(new_carto);

    
    }
 #}    
</script>



{% endblock %}
