<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil {% endblock %}</title>
        
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset("css/admin/accueil_style.css") }}">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
 <style>

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    width:50%;
    margin-bottom:2em;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    justify-content: space-between;
};



      



    @media screen and (max-width: 991px) {
        .blancmiddle {
                flex-direction:column;
        }
    }
    @media screen and (max-width: 991px) {
        .grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
        }
    }
{#     @media screen and  (min-width: 768px) and  (max-width: 991px) {
        .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
        }
    } #}
    @media screen and  (min-width: 991px) {
        .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
        }
    }



  </style>

        
    </head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top wrapper">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Immo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    <ul class="navbar-nav mb-2 mb-lg-0" style="width:100%">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('catalogue') }}">Catalogue</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('annonce_ajouter') }}">Déposer une annonce</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                            </li>
                        </ul>

                        {% if not app.user %} {# non connecté #}
                        <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                                </li>
                        
                        </ul>
                        {% else %}{# connecté #}

                            {% if is_granted('ROLE_ADMIN') %}{# connecté et ROLE_ADMIN #}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu" style="right: 0;left: auto" aria-labelledby="navbarDropdown">
                                        
                                        <li><a class="dropdown-item" href="{{ path('back_office') }}">Back Office</a></li>
                                        <li><a class="dropdown-item" href="{{path('profil')}}">Profil</a></li>
                                        <li><a class="dropdown-item" href="{{ path('gestion_annonce_afficher') }}">Gestion des annonces</a></li>
                                        <li><a class="dropdown-item" href="{{ path('categorie_afficher') }}">Gestion des catégories</a></li>
                                        <li><a class="dropdown-item" href="{{ path('accueil') }}">Accueil Afficher</a></li>
                                        <li><a class="dropdown-item" href="{{ path('mes_annonces' ) }}">Consulter mes annonces</a>
                                        <li><a class="dropdown-item" href="{{ path('mes_commentaires' ) }}">Consulter mes commentaires</a>
                                        <li><a class="dropdown-item" href="{{ path('mes_annonces_likees' ) }}">Consulter mes annonces likées</a>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('logout')}}">Déconnexion</a></li>
                                    
                                    </ul>
                                </li>

                            {% elseif is_granted('ROLE_USER') %}{# connecté et ROLE_USER #}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ app.user.email }}
                                    </a>
                                    <ul class="dropdown-menu" style="right: 0;left: auto" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{{path('profil')}}">Profil</a></li>
                                        <li><a class="dropdown-item" href="{{ path('mes_annonces' ) }}">Consulter mes annonces</a>
                                        <li><a class="dropdown-item" href="{{ path('mes_commentaires' ) }}">Consulter mes commentaires</a>
                                        <li><a class="dropdown-item" href="{{ path('mes_annonces_likees' ) }}">Consulter mes annonces likées</a>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('logout')}}">Déconnexion</a></li>
                                    </ul>
                                </li>
                                    
                            {% endif %}
                        {% endif %}

                    </ul>
                </div>  
            </div>
        </nav>

        
            
            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
